.container {

    width: 500px; 
    background-color: cyan; 
    font-family: 'Covered By Your Grace', cursive;
    font-size: 20px; 
}

h1 {

    text-align: center; 
}

body {

    background-image: url("../images/Hip_Hop.jpg");
    background-size: 100%;
}

.jumbotron {

    font-size: 100px; 
    text-align: center;
    color: white; 
}
